
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }



/* FONTS */

@font-face {
    font-family: 'HelveticaNeue'; /* Название шрифта */
    src: url(css/HelveticaNeue.ttc) format('ttc');
 
    font-weight: normal; /* Обычное начертание */
    font-style: normal; /* Обычный стиль */
}



/* Базовые стили */
body, html {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue, sans-serif;
    font-size: 10px; /* Теперь 1rem = 10px */
    box-sizing: border-box;
    
}



.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}








.nirvana {
    opacity: 0;
    position: absolute;
}
img.nirvana {
    display: none;
    width: 300px;
}
/* Секция с фоновой картинкой */
.hero-section {


    background-color: #0071BC;
    height: 90vh; /* На всю высоту экрана */
    width: 100vw;
    display: flex;
    justify-content:space-between;
    color: white;
    position: relative;
    z-index: -11;

    /* overflow: hidden; */
}



/* Главный заголовок */
.header-title {
    /* max-width: 80%; */
    height: 5rem;
    width: auto;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 10rem;
   
}

img.header-title {
    object-position: center top;
}

/* Блок с заголовком поменьше и подзаголовком */
.content-block {
    /* position:absolute; */
    margin-top: 50px;
    margin-left: 20rem;
    left: 100px;
    text-align: left;
    width: 80%; /* Ширина блока */
    max-width: 800px; /* Максимальная ширина */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.nirvanaMAIN {
margin-top: 0;
/* width: 60vw; */
height: 60vh;
}

.headmob {
    display: none;
}

.sub-title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.sub-text {
    font-size: 1.2rem;
    margin: 10px 0 0;
    line-height: 15px;
}
.sub-text-mob{
    display: none;
}
















.footer {
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    /* padding: 20px 0 20px 0; */
    /* overflow: hidden; */
    position: relative;
  }
 




.logo-text {
        position: absolute;
        top: -170px; /* Позиция текста сверху */
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(255, 255, 255); /* Фон текста */
        color: rgb(0, 0, 0); /* Цвет текста */
        padding: 5px 10px;
        border: 1px solid rgba(166, 166, 166, 0.78);
        border-radius: 5px;
        font-size: 14px;
        opacity: 0; /* Текст скрыт по умолчанию */
        transition: opacity 0.3s ease; /* Плавное появление */
        pointer-events: none; /* Чтобы текст не мешал наведению */
        width: 150px; 
        text-align: center; 
        white-space: normal; 
        z-index: 215;
        
    }

 

.ket_ {
    margin-left: -10px;
}

.ban {
    margin-right: 5px;
}
carousel {


    display: flex;
    /* overflow: hidden;  */
    position: relative;
    width: 100%;
    padding: 2rem 0;
    
    align-items: center;
    white-space: nowrap; 
  }


carousel::before,
carousel::after {
  content: "";
  background: linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 25rem;
  z-index: 22;
}

carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

carousel::before {
  left: 0;
  top: 0;
}

.carousel-track {
  display: flex;
  align-items: center; 
  gap: 8rem;
  animation: scroll 20s linear infinite;


}
 carousel .logo-item {
    position: relative;
    max-height: 100%; 
    width: auto; 
    object-fit: contain; 
    display: inline-block; 
    /* filter: grayscale(100%); */

  }


footer .logo-item:hover .logo-text {
    position: fixed;  
    opacity: 1;
    transform: translateX(-50%);  
    z-index: 10;  
  }









/*_____________________________
 Адаптация под мобильные устройства 
 _________________________________*/

@media (max-width: 768px) {
    .header-title {
        height: 3rem;
        width: 39rem;
    }

    .sub-title {
        font-size: 4rem; /* доделать шрифты */
    }

    .sub-text {
        line-height: 20px;
        font-size: 1.7rem; /* Уменьшаем размер текста rem = 10px */
    }

    .content-block {
        width: 90%; /* Увеличиваем ширину блока для мобильных */
    }



    /* footer */
    .footer {
        margin-bottom: 45000px;
    }
    .logo-container img {
        /* height: 40px; */
        margin-right: 20px;
    }

    .logo-container {
        /* animation-duration: 15s; */
    }
    
    .logo-container {
        width: 200%; /* Полоса на всю ширину экрана */
        overflow: hidden; /* Скрываем всё, что выходит за пределы */
    }

    .logo-item {
        flex: 0 0 auto; /* Логотипы не сжимаются */
        margin-right: 20px; /* Уменьшаем отступ между логотипами */
    }

    .logo-item img {
       /* height: 40px;  Уменьшаем высоту логотипов */
    }

    .logo-text {
        overflow: hidden;
    }

    .logo-text {
        top: -35px; /* Поднимаем текст выше */
        font-size: 5px; /* Уменьшаем размер текста */
        width: 80px; /* Уменьшаем ширину текстового блока */
    }
    .nirvanaMAIN {
       display: none;
        }
        img.nirvana {
            display:inline-block;
            width: 300px;
        }
}

@media (max-width: 480px) {
    .header-title {
        display: none;
        
    }
    .headmob {
        display: flex;
        justify-content: center;
        background-color: #0071BC;
        padding-top: 40px;
    }

    .hero-section {
        background-image: none;
        overflow: hidden;
        height: auto;
        /* max-height: 80vh; */
    }

    img.nirvana {
        opacity: 1;
        width: 40rem;
        z-index: 0;
        margin-top: 80px;
    }

    .nirvana {
        top: -70px;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Плавность анимации */
        will-change: transform, opacity; /* Оптимизация для браузера */
    }

    .content-block {
        z-index: 1;
        margin: 50px 20px;
        /* justify-content: flex-end; */
        margin-top: 700px;
        /* margin-bottom: 50px; */
    }

    .sub-title {
        font-size: 4.5rem; /* доделать шрифты */
    }
    .sub-text-mob{
        margin-top: 20px;
        display: block;
        font-size: 2rem;
    }
    .sub-text {
        display: none;
         /* Уменьшаем размер текста rem = 10px */
    }

    .textyt {
        position: absolute;
        z-index: 10;
    }
}